<footer>
    <div class="section-container">
        <div class="social-media">
            <a href="http://www.linkedin.com/in/charleshewett"><img src="images/linkedin.png"></a>
            <a href="https://github.com/charles-coderep"><img src="images/github-light.png"></a>
        </div>
        <p>Website developed by Charles Hewett</p>
    </div>
</footer>