<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/jpg" href="images/favicon.jpg">
    <script defer type="module" src="js/app.js"></script>
    <script defer type="module" src="js/pageui.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="image" property="og:image" content="http://www.charleshewett.com/images/logo.png">
    <title>Charles Hewett | <%= title %>
    </title>
</head>