<ul>
    <li>
        <input required type="text" name="email" />
    </li>
    <li>
        <input required type="text" type="password" name="password" />
    </li>
    <button class="btn" id="button" type="submit">Submit</button>
</ul>