<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <header>
            <div class="headwrap">
                <%- include('./partials/nav.ejs') %>
                    <div class="logo">
                        <div class="front"></div>
                        <div class="bottom"></div>
                        <div class="back"></div>
                        <div class="top"></div>
                    </div>
            </div>
        </header>
        <main>
            <section id="about">
                <div class="section-container">
                    <h2 class="observe">ABOUT</h2>
                    <div class="about-container">
                        <div class="profile">
                            <img src="images/me.jpg" alt="image of charles hewett">
                        </div>
                        <div class="skillbar observe">
                            <div class="html">
                                <div class="container-skillbar">
                                    <span>HTML</span>
                                    <div></div>
                                    <span>85%</span>
                                </div>
                            </div>
                            <div class="css">
                                <div class="container-skillbar">
                                    <span>CSS</span>
                                    <div></div>
                                    <span>80%</span>
                                </div>
                            </div>
                            <div class="sass">
                                <div class="container-skillbar">
                                    <span>Sass</span>
                                    <div></div>
                                    <span>70%</span>
                                </div>
                            </div>
                            <div class="js">
                                <div class="container-skillbar">
                                    <span>JavaScript</span>
                                    <div></div>
                                    <span>65%</span>
                                </div>
                            </div>
                            <div class="ph">
                                <div class="container-skillbar">
                                    <span>Photoshop</span>
                                    <div></div>
                                    <span>70%</span>
                                </div>
                            </div>
                            <div class="node">
                                <div class="container-skillbar">
                                    <span>Node.js</span>
                                    <div></div>
                                    <span>50%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>I am a Front-End Developer based in Tottenham, London. I am currently learning React and always
                        have an interest in expanding my knowledge of Back-End tech, such as NodeJS</p>
                    <p> I have done various work for small businesses and large enterprises, including WordPress custom
                        theme development, Digital Marketing, custom email development, and occasional web design input.
                    </p>
                    <p>Aside from work, I love being outdoors, mountain biking, improving my <a
                            href="https://charleshewett.myportfolio.com/">photography</a> skills and traveling.</p>
                    <a href="http://www.linkedin.com/in/charleshewett"><img src="images/linkedin.png"></a><a
                        href="https://github.com/charles-coderep"><img src="images/github.png"></a>
                </div>
            </section>
            <section id="projects">
                <div class="section-container">
                    <h2 class="observe">PROJECTS</h2>
                    <h3>Personal projects for learning and development</h3>
                    <div class="projects-grid">
                        <a href="/blog/reminder-app">
                            <div class="project-wrapper">
                                <img src="images/reminder-app.jpg">
                                <h4>Reminder App</h4>
                                <p>Building the classic To-Do list but adding more functionality and some user
                                    experience considerations. Inspiration taken from the seamless usability of 'Google
                                    Tasks'</p>
                            </div>
                        </a>
                        <a href="/blog/a-responsive-product-detail-page-of-an-e-commerce-website">
                            <div class="project-wrapper">
                                <img src="images/clive-mark.jpg">
                                <h4>Clive Mark product detail page</h4>
                                <p>This is a responsive product detail page with tabs/ accordion and image gallery
                                    function</p>
                            </div>
                        </a>
                        <a href="/blog/responsive-landing-page-with-add-to-bag-functionality">
                            <div class="project-wrapper">
                                <img src="images/bark.jpg">
                                <h4>Bark product landing page</h4>
                                <p>This is a front end implementation of a fictional pet brand landing page, with add to
                                    bag functionality</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section id="work">
                <div class="section-container">
                    <h2 class="observe">WORK</h2>
                    <div class="work-grid">
                        <div class="work-wrapper">
                            <img src="images/ppskin.jpg">
                            <div class="work-slide"></div>
                            <div class="work-text">
                                <p>Responsible for creating a complete online presence from the ground up for this
                                    natural skincare business. WordPress website development, Woocommerce shopping cart
                                    integration with Payfast. Setting up email marketing with Mailchimp. Occasional
                                    product label design and video editing.</p>
                            </div>
                        </div>
                        <div class="work-wrapper">
                            <img src="images/inmarsat.jpg">
                            <div class="work-slide"></div>
                            <div class="work-text">
                                <p>In-house Web Development Executive for Inmarsat. Design and build additional
                                    WordPress web pages as required for marketing. Design, build and manage client and
                                    internal email campaigns. Hand coding additional functionalities not provided by
                                    plugins.</p>
                            </div>
                        </div>
                        <div class="work-wrapper">
                            <img src="images/nhb.jpg">
                            <div class="work-slide"></div>
                            <div class="work-text">
                                <p>Font End lead on developing the Nick Hern Books website for Stison publishing
                                    solutions. Technologies used: HTML 5, CSS, Bootstrap, jquery. Also responsible for
                                    the migration of the book database data over to the in-house database. </p>
                            </div>
                        </div>
                        <div class="work-wrapper">
                            <img src="images/hsc.jpg">
                            <div class="work-slide"></div>
                            <div class="work-text">
                                <p>In-house Web Developer for HSC. Build and maintain web pages on the commercial site.
                                    Build promotional microsites. Design and hand-coding responsive emails for clients
                                    and stakeholders. Design of jquery banners. Live examples of some emails:</p>
                                <ul>
                                    <li><a
                                            href="http://dev.hurford-salvi-carr.co.uk/charles/email/spitfire/spitfire.html">Rufford
                                            Mews</a></li>
                                    <li><a
                                            href="http://dev.hurford-salvi-carr.co.uk/charles/email/bloomsburylnd/bloomsbury_gardens.html">Bloomsbury
                                            Gardens</a></li>
                                    <li><a
                                            href="http://dev.hurford-salvi-carr.co.uk/charles/email/blackfriars/blackfriars.html">Blackfriars</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="work-wrapper">
                            <img src="images/bennetts.jpg">
                            <div class="work-slide"></div>
                            <div class="work-text">
                                <p>Built the website as WordPress Developer for a web agency. Working off a PSD
                                    template, using bootstrap, Advanced Custom Fields plugin, and some jquery.</p>
                            </div>
                        </div>
                        <div class="work-wrapper">
                            <img src="images/bestmove.jpg">
                            <div class="work-slide"></div>
                            <div class="work-text">
                                <p>Built the website as WordPress Developer for a web agency. Working off a PSD
                                    template, using bootstrap, Advanced Custom Fields plugin, and some jquery.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact">
                <svg preserveAspectRatio="none" width="100%" height="100" viewBox="0 0 1612 139" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.118409 0L0 0.0204185L805.958 139L1611.92 0.0204063L1611.8 0H0.118409Z" fill="#ffffff" />
                </svg>
                <div class="section-container flex">
                    <h2 class="observe">CONTACT</h2>
                    <h3>Have a question or want to work together?</h3>
                    <form id="form" class="flex">
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <textarea name="emailbody" placeholder="Your Message" required></textarea>
                        <div><button class="btn" type="submit">Submit</button>
                            <p></p>
                        </div>
                    </form>
                    <script type="text/javascript">

                        let contactForm = document.querySelector('#contact form');
                        contactForm.addEventListener('submit', (e) => {
                            e.preventDefault();
                            let contName = document.querySelector('#contact input[name = "name"]')
                            let contEmail = document.querySelector('#contact input[name = "email"]')
                            let contBody = document.querySelector('#contact textarea')
                            document.querySelector('#contact form p').innerHTML = 'Sending';
                            fetch('/email', {
                                method: 'POST',
                                headers: {
                                    'Content-type': 'application/json'
                                },
                                body: JSON.stringify({ name: contName.value, email: contEmail.value, message: contBody.value })
                            }).then(response => response.text()).then(text => {
                                document.querySelector('#contact form p').innerHTML = text;
                            });
                            contName.value = "";
                            contEmail.value = "";
                            contBody.value = "";
                        });
                    </script>
                </div>
            </section>
        </main>
        <footer>
            <div class="section-container">
                <div class="social-media">
                    <a href="http://www.linkedin.com/in/charleshewett"><img src="images/linkedin.png"></a>
                    <a href="https://github.com/charles-coderep"><img src="images/github-light.png"></a>
                </div>
                <p>Website developed by Charles Hewett</p>
            </div>
        </footer>
    </body>

</html>