<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body class="blog">
        <header>
            <div class="headwrap">
                <%- include('./partials/nav.ejs') %>
                    <div class="logo">
                        <div class="front"></div>
                        <div class="bottom"></div>
                        <div class="back"></div>
                        <div class="top"></div>
                    </div>
            </div>
        </header>
        <main>
            <div class="section-container">
                <form class="login" action="/auth/login" method="POST">
                    <%- include('./partials/login-form.ejs') %>
                </form>
            </div>
        </main>
        <footer></footer>
    </body>

</html>